# ignore all logs
*.log

# ignore .idea
.idea/*

# texture images:
*.png

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/venv

*/__pycache__/*

# output files from build extensions
*.o
